@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>This is some content to fill the page and make it look less empty. You can add more text, images, or other elements here.</p>
            <p>Feel free to customize this page to suit your needs.</p>
            <p>You can also add a button:</p>
            <a href="#" class="btn btn-primary">Click Me</a>
        </div>
    </div>
</div>